.invitadas{
    height: 1556px;
    width: 320px;
    box-sizing: border-box;
    padding-bottom: 48px;
    background: rgb(143, 76, 76);
    display: flex;
    flex-direction: column;


    .invitadash2{
        height: 84px;
        width: 288px;
        box-sizing: border-box;
        padding: 0 16px 14px 16px;
        font-family: IBMPlexSans;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        margin-bottom: 14px;
    }
    .ima1{
        height: 243px;
        width: 320px;
        
    }
    
    .ima2{
        height: 243px;
        width: 320px;
        padding: 0;
    }
    
    .ima3{
        height: 243px;
        width: 320px;
    }

    .ima4{
        height: 243px;
        width: 320px;
    }
    
    .ima5{
        height: 243px;
        width: 320px;
    }
    
    .ima6{
        height: 243px;
        width: 320px;
    }



}